@import 'products.css';
@import 'about.css';

* {
  margin: 0;
  padding: 0;

}

.content {
  width: 90%;
  max-width: 1000px;
  min-height: 78vh;
  margin: 0 auto;
  padding-top: 20px;
}

.back_btn a {
  display: inline-block;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  color: #545454;
  border: 1px solid #989898;
  border-radius: 3px;
}

.back_btn a:hover {
  text-decoration: none;
  animation: PubBtnHover 0.5s both;
}

@keyframes PubBtnHover {
  0% {
    background-color: transparent;
    color: #545454;
  }
  100% {
    background-color: #989898;
    color: #fff;
  }
}

.admin_area {
  text-align: right;
}

.admin_area a {
  display: inline-block;
  line-height: 20px;
  padding: 0 10px;
  text-decoration: none;
  color: #545454;
}

.admin_area a:hover {
  border-bottom: 1px solid #898989;
}


/* header */

header {
  padding-top: 30px;
}

nav {
  text-align: center;
}

.header_logo {
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.header_menu {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.header_menu a {
  display: inline-block;
  line-height: 20px;
  padding: 5px 10px;
  color: #545454;
}

.header_menu a:hover {
  animation: navLinkHover 0.5s both;
}

@keyframes navLinkHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    color: #000;
  }
}


/* end--of--header */

/* footer */
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #2e1503;
}

footer p {
  color: #fff;
  font-size: 12px;
}

/* end--of--footer */