

/* index page */


/* end--of--index page*/

/* create page */

.contact_create {
  max-width: 800px;
  padding-top: 20px;
  margin: 0 auto;
}

.contact_form {
  margin: 20px;
}

.messages ul {
 list-style: none;
}

.message a {
  display: flex;
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
}

.message a:hover {
  background-color: #f2f2f2;
}

.message .status {
  width: 30px;
  color: #9b0e27;
  font-size: 10px;
  margin: auto 0;
}

.message h4 {
  width: 100px;
}

.message_content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

/* show page */
.contact_show {
  min-height: 50vh;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.contact_content {
  width: 100%;
  margin-top: 20px;
}

.contact_content th {
  height: 40px;
  width: 80px;
  text-align: right;
  vertical-align: top;
}

.contact_content td {
  padding-left: 10px;
  vertical-align: top;
}



/* end--of--show page */