/* index page */

.products_index {
  margin: 0 auto;
}

.heading h2{
  margin: 10px 0;
  position: relative;
}

.heading h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 0.5px;
  width: 100%;
  background-color: #898989;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.products a {
  color: inherit;
  text-decoration: none;
}


.product_card {
  max-width: 150px;
  border: 1px solid transparent;
  padding: 5px;
  padding: 15px;
}

.product_card:hover {
  border: 1px solid #545454;
}

.product_card:hover > .product_card_heading img {
  transform: scale(1.2);
  opacity: 0.5;
}

.product_card_heading {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  background-color: #909090;
  overflow: hidden;
}

.product_card_heading img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.product_info {
  padding: 10px 0;
}

.product_info p {
  font-size: small;
  width: 100%;
  overflow-wrap: break-word;
  padding: 2px 0;
}

.product_info p:last-child {
  text-align: right;
  color: #787878;
}

/* end--of--index page*/
/* show page */

.product_show {
  max-width: 800px;
  margin: 0 auto 20px;
}

.product_wrapper {
  width: 80%;
  margin: 0 auto;
}

.product_details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.product_image {
  width: 250px;
  height: 250px;
  border-radius: 2px;
  overflow: hidden;
}

.product_image img {
  width: 100%;
}

.product_description {
  width: 250px;
  max-height: 250px;
  overflow-wrap: break-word;
  margin-top: auto;
  text-align: justify;
}

.product_description h1,
.product_description p:last-child {
  text-align: right;
  padding-bottom: 10px;
}

/* end--of--show page */

/* create/edit page */

.products_create {
  max-width: 800px;
  margin: 0 auto 20px;
}

.product_form {
  margin: 20px;
}

.product_form .input_form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.product_form label {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.product_form input[type=text] {
  padding: 2px 4px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #989898;
}

.product_form textarea {
  padding: 0.5rem;
  height: 80px;
}

.product_form textarea:focus {
  outline: none;
}

.product_form input[name=name],
.product_form input[name=category],
.product_form textarea {
  width: 55%;
}

.product_form input[name=price],
.product_form input[name=stock] {
  text-align: right;
  width: 10%;
}

.product_form .actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.product_form .actions input {
  display: inline-block;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  color: #545454;
}

.product_form .update input[type=submit] {
  border: 1px solid #989898;
  border-radius: 3px;
}

.product_form .update input[type=submit]:hover {
  text-decoration: none;
  animation: SubmitBtnHover 0.2s forwards;
}

@keyframes SubmitBtnHover {
  0% {
    background-color: transparent;
    color: #545454;
  }
  100% {
    background-color: #989898;
    color: #fff;
  }
}

.product_form .delete input {
  border: none;
  background-color: transparent;
}

.product_form .delete input:hover {
  border-bottom: 1px solid #898989;
}

.product_form .product_image {
  margin: 15px auto;
}

/* end--of--create/edit page */